@model IEnumerable<Friends.Models.friend>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<table border="1">
    <tr>
        <td>Friend Id</td>
        <td>Friend Name</td>
        <td>Place</td>
    </tr>
    @foreach (var f in Model)
    {
        <tr>
            <td>@f.fid</td>
            <td>@f.fname</td>
            <td>@f.place</td>
            <td>@Html.ActionLink("Edit","Update","Home")</td>
            <td>@Html.ActionLink("Delete", "Delete", "Home")</td>
            
        </tr>
    }
    <tr>
        <td>@Html.ActionLink("Back", "Index", "Home")</td>
    </tr>
</table>